
span {
  background: #fbf96d;
  padding: 2px;
  font-size: 10 px;
  font-family:'Courier New', Courier, monospace
}

p,ul{
  font-size: 20px;
}
ol {
  font-size:20px;
  
  font-display: block;
  
}

pre {
  border : solid 1px;
  background-color: #118a4563;
  color : black;
  padding: 5px;
  font-size:15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-display: block;
}
div {
  border : solid 2px;
  background-color:#fefea661;
  color : black;
  padding: 5px;
  font-size:15px;
  text-align:inherit;
  font-family:Arial, Helvetica, sans-serif
}

h1 {
  text-align: center;
  color : #118A46;

  border-radius: 1em ;
  border: solid 1px;
  background-color: #fefea6;
  padding: 10px;
  margin-top : 0.5em;
  font-size: 30px;
}

h4,h3 {
  
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color : #118A46;
  background-color : #fefea6;
  font-size: 25 px;
}

body {
  background-color: #f8f4e2;
  margin : auto;
  width : 90%
}


form {
 
  margin:auto;
  width: 300px;
 
  padding: 1em;
  border: 1px solid black;
  border-radius:0%;
  background-color : offwhite;
}

